.search{
    text-align: center;
}
.searchtb{
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #8e8379;
    margin-top: 10px;
}
.searchtb td{
    border-radius: 10px;
    background-color: #e7ded9;
}
.searchtb td:hover{
    background-color: rgb(255, 235, 204);
}