@font-face {
  font-family: Cardo;
  src: url(Cardo-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color:rgba(245, 245, 245, 0.658);
  text-align: center;
}

header{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: x-large;
  padding: 30px;
}
iframe {
	text-align: center;
}
style {
	text-align: center;
}
.navbar{
  text-align: center;
  
}
.navbar a{
  color: rgb(22, 13, 0);
  font-family: Cardo;
  padding: 30px;
  text-decoration: none;
}
.navbar .active,.navbar a:hover{
  color: rgb(22, 13, 0);
  text-decoration: none;
  background-color: rgb(186, 197, 138);
}
/*****************************fade animation**************************/
.fade{
  position: relative;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 5px;
	overflow: hidden;
	background: linear-gradient(90deg, #000, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	text-align: center;
	font-family: 'Roboto', sans-serif;;
	color: #FFF;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
