* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: italic;
}
body{
  background-color:rgba(245, 245, 245, 0.658);
}

header{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: x-large;
  padding: 30px;
}
iframe {
	text-align: center;
}
style {
	text-align: center;
}
.navbar{
  text-align: center;
}
.navbar a{
  color: rgb(22, 13, 0);
<<<<<<< HEAD
  padding-left: 20px;
=======
  padding: 30px;
>>>>>>> parent of 21079ed (Chage navbar font to Cardo)
  text-decoration: none;
}
